@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&family=Roboto&family=Roboto+Mono:wght@300;400;500;700&display=swap');
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
 

  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
  --smaller-font-size: .875rem;
  /*===== Margines =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

/* @media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;

  }

} */

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  
}

body { 
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  img{width: 100%; display: block;}


